<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26171345893-h7ln710c6ikk1ss9kf07vfcmlhca5g20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26171345893-h7ln710c6ikk1ss9kf07vfcmlhca5g20</string>
	<key>API_KEY</key>
	<string>AIzaSyDh6FQWha1SxeUhVyBLVo1mK5fI0107VcM</string>
	<key>GCM_SENDER_ID</key>
	<string>26171345893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupChatApplication</string>
	<key>PROJECT_ID</key>
	<string>group-chat-df9c6</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-df9c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26171345893:ios:ce33c957f0d7bd6267fd0c</string>
</dict>
</plist>